<div>
    <div class="data-1">
        <table>
            <thead>
                <tr>
                    <th>
                        Codigo
                    </th>
                    <th>
                        Descripcion
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Imagen
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataList">
                    <td>{{item.codigo}}</td>
                    <td>{{item.descripcion}}</td>
                    <td>{{item.precio}}</td>
                    <td>
                        <img [src]="validFile(item.imagen)" width="30px" />
                    </td>
                    <td>
                        <button mat-icon-button color="error" type="button" (click)="delete(item.id)">
                            <mat-icon>delete_forever</mat-icon>
                          </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>