<div class="login">
    <div class="child">
        <h2>Login Form</h2>

        <form [formGroup]="formLogin" >        
          <div class="container">
            <mat-form-field appearance="outline" style="width:100%">
                <mat-label>Usuario</mat-label>
                <input formControlName="usuario" matInput>
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>        
            <mat-form-field appearance="outline"  style="width:100%">
                <mat-label>passsword</mat-label>
                <input formControlName="password" type="password" matInput >
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>

            <button type="submit" (click)="login()">Login</button>
          </div>
        </form>
    </div>
</div>