<mat-toolbar color="primary">  
    <mat-toolbar-row >
        <span class="title">Prueba Tecnica</span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="'/main/tienda'">
                <mat-icon>storefront</mat-icon>
                <span>Tiendas</span>
            </button>
            <button mat-menu-item [routerLink]="'/main'">
                <mat-icon>shopping_bag</mat-icon>
                <span>Articulos</span>
            </button>
            <button mat-menu-item [routerLink]="'/main/clientes'">
                <mat-icon>people</mat-icon>
                <span>Clientes</span>
            </button>
            <button mat-menu-item [routerLink]="'/main/carrito'">
                <mat-icon>shopping_cart</mat-icon>
                <span>Carrito</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>