<div>
    <div class="form">
        <form [formGroup]="form">
            <mat-form-field appearance="outline" style="width:100%">
                <mat-label>Codigo</mat-label>
                <input formControlName="codigo" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:100%">
                <mat-label>Descripcion</mat-label>
                <input formControlName="descripcion" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:100%">
                <mat-label>Precio</mat-label>
                <input formControlName="precio" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:100%">
                <mat-label>Stock</mat-label>
                <input formControlName="stock" matInput />
            </mat-form-field>
            <div class="btn-space">
                <input type="file" #uploader (change)="file($event)" hidden  accept="image/png, image/gif, image/jpeg" > 
                <button mat-fab color="primary" type="button" (click)="uploader.click()">
                  <mat-icon>attach_file</mat-icon>
                </button>
              </div>
            <button mat-flat-button color="primary" (click)="create()" [disabled]="send">Guardar</button>
        </form>
    </div>
    <div class="data-1">
        <table>
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Codigo
                    </th>
                    <th>
                        Descripcion
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Stock
                    </th>    
                    <th>
                        Imagen
                    </th>    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataList">
                    <td>{{item.id}}</td>
                    <td>{{item.codigo}}</td>
                    <td>{{item.descripcion}}</td>
                    <td>{{item.precio}}</td>
                    <td>{{item.stock}}</td>
                    <td>
                        <img [src]="validFile(item.imagen)" width="30px" />
                    </td>
                    <td>
                        <button mat-icon-button color="primary" type="button" (click)="addToCar(item.id)">
                            <mat-icon>shopping_cart</mat-icon>
                          </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>