<div>
    <div class="form">
        <form [formGroup]="form">
            <mat-form-field appearance="outline" style="width:100%">
                <mat-label>Nombre</mat-label>
                <input formControlName="nombre" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:100%">
                <mat-label>Apellidos</mat-label>
                <input formControlName="apellidos" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:100%">
                <mat-label>Direccion</mat-label>
                <textarea formControlName="direccion" matInput></textarea>
            </mat-form-field>
            <button mat-flat-button color="primary" (click)="createTienda()" [disabled]="send">Guardar</button>
        </form>
    </div>
    <div class="data-1">
        <table>
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Sucursal
                    </th>
                    <th>
                        Domicilio
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tienda of dataList">
                    <td>{{tienda.id}}</td>
                    <td>{{tienda.nombre}}</td>
                    <td>{{tienda.apellidos}}</td>
                    <td>{{tienda.direccion}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>